[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
django-extensions = "*"
gunicorn = "*"
"psycopg2" = "*"
django-test-without-migrations = "*"
pillow = "*"

[dev-packages]
ipython = {extras = ["notebook"]}

[requires]
python_version = "3.6"
